* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* box-shadow: 0 0 3px red inset; */
}

::-webkit-scrollbar {
  /* width: 7px; Largeur de la scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(21, 209, 223, 1);
  border-radius: 6px;
}

body {
  background-color: rgba(41, 43, 78, 1);
}

.container {
  width: 90%;
  margin: 0 auto;
}

.all {
  display: flex;
}

a {
  text-decoration: none;
}

/*SIDEBAR*/

.sidebar {
  width: 15vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.06);
  position: fixed;
}

.sidebar-content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 15px;
  gap: 0;
  line-height: 0.8;
  margin-top: 15%;
}
.notebook {
  color: rgba(21, 209, 223, 1);
}

.couture {
  margin-left: 10%;
}

.btn-bloc {
  height: 40%;
  width: 100%;
  display: flex;
}

.btn-content {
  font-size: 18px;
  font-weight: bold;
  color: white;
  /* background-color: blue; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 10%;
  column-gap: 10px;
  /* margin-top: 20px; */
}

.btn-content div img {
  height: 24px;
  width: 24px;
}

.btn-content:first-child {
}

/* .btn-content div:hover {
    transform: scale(1.1);
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
  } */

.dashboard {
  height: 16%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dash-content {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-left: 10%;
}

.dash-content p {
  margin-left: 4%;
  width: 100%;
}

/* ADD CLIENT SIDEBAR */
.add-client {
  height: 16%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-content {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-left: 10%;
}

.add-content p {
  margin-left: 4%;
  width: 140px;
}

.rec-indic {
  height: 100%;
  width: 8px;
  background-color: rgba(21, 209, 223, 1);
}

.add-client,
.liste-client,
.depenses,
.profil {
  display: flex;
}

/* LISTE CLIENT SIDEBAR */
.liste-client {
  height: 16%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.liste-content {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-left: 10%;
}

.liste-content p {
  margin-left: 4%;
  width: 140px;
}

/*  DEPENSES SIDEBAR */
.depenses {
  height: 16%;
  width: 100%;
  color: rgba(21, 209, 223, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(9, 9, 9, 0.26);
}

.depenses-content {
  display: flex;
  justify-content: space-between;
  align-content: center;
  
  margin-left: -10%;
}

.depenses-content p {
  margin-left: 4%;
  width: 140px;
}

/*  PROFIL SIDEBAR */
.profil-client {
  height: 16%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profil-content {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-left: 10%;
}

.profil-content p {
  margin-left: 4%;
  width: 140px;
}

/* DECONNEXION SIDEBAR */

.deco-side {
  height: 16%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deco-content {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-left: 18%;
  margin-top: 40%;
}

.deco-content p {
  margin-left: 4%;
  width: 140px;
}

.deco-side img {
  height: 24px;
  width: 24px;
}

/*HEADER*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

header {
  margin: auto;
  width: 85%;
  margin-left: 15%;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  gap: 8px;
}

.user img {
  width: 59px;
  height: 59px;
}

.indic-page {
  /* margin: auto; */
  width: 175px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 0px;
  background-color: rgba(21, 209, 223, 0.26);
  color: white;
  font-weight: bold;
  box-shadow: 0px 0px 11px rgba(9, 9, 9, 0.503);
}

.identif {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.identif span:nth-child(2) {
  color: rgba(255, 255, 255, 0.38);
  font-weight: bold;
}

.identif span:nth-child(1) {
  color: rgba(255, 255, 255, 0.38);
}

.identif span:nth-child(1) .identName {
  color: white;
}

/* POPUP */

.titre-form-supprimer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.yesOrNo button {
  border: none;
  color: white;
}

/* CONTAINER 2 */

.container2 {
  height: 100vh;
  width: 73%;
  margin: 0 auto;
  margin-left: 18.5%;
  margin-top: 5%;
}

.bloc-compteur {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nbr-depense-totale {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 295px;
  height: 212px;
  background-color: rgba(9, 9, 9, 0.37);
  box-shadow: 0px 0px 15px rgba(9, 9, 9, 0.503);
  border-radius: 35px;
  
}

.nbr-depense-totale p {
  color: white;
  font-size: 18px;
  text-align: center;
}

.nbr-depense-total-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nbr-depense-totale span {
  color: rgba(21, 209, 223, 1);
  font-size: 64px;
}

.nbr-depense-atteintes-bloc {
  width: 295px;
  height: 212px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(9, 9, 9, 0.37);
  box-shadow: 0px 0px 15px rgba(9, 9, 9, 0.503);
  border-radius: 35px;
}

.nbr-depense-atteinte-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.nbr-depense-atteintes-bloc p {
  color: white;
  font-size: 20px;
  text-align: center;
  width: 70%;
}

.nbr-depense-atteintes-bloc span {
  color: rgba(21, 209, 223, 1);
  font-size: 54px;
}

.nbr-couvert-bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 295px;
  height: 212px;
  background-color: rgba(9, 9, 9, 0.37);
  box-shadow: 0px 0px 15px rgba(9, 9, 9, 0.503);
  border-radius: 35px;
}

.nbr-couvert-bloc-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nbr-couvert-bloc p {
  text-align: center;
  color: white;
  font-size: 20px;
}

.nbr-couvert-bloc span {
  color: rgba(21, 209, 223, 1);
  font-size: 48px;
}

/* ADD DEPENSE */

.form-add-depense {
}

.element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 3%;
  width: 100%;
}

.form-nom {
  margin: auto;
  margin-top: 3%;
}

.titre-add-depense {
  width: 141px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.titre-add-depense p {
  color: white;
  font-weight: bold;
}

.desc {
  margin-top: 5%;
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.form-somme {
  margin: auto;
  margin-top: 7%;
}

.form-nom,
.form-somme {
  width: 200px;
  /* margin-left: 15%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#nom,
#somme {
  width: 100%;
  height: 42px;
  border-radius: 25px;
  border: #15d1df solid 2px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 3px 7px 15px rgba(0, 0, 0, 0.247);
  margin-top: 2%;
}

.text-table {
  color: white;
}

.table-bloc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  margin: 0 auto;
  margin-top: 10%;
}

.table {
  width: 75%;
}

table {
  width: 100%;
  border-radius: 10px;
  background-color: rgba(9, 9, 9, 0.37);
  color: white;
  border: 1px solid white;
}

th {
  text-align: center;
  border-right: 1px solid white;
}

.dernier-th {
  border-right: 0px;
}

.dernier-td {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-right: 0px;
}

.dernier-td button {
  width: 128px;
  height: 42px;
  color: white;
  border: none;
  border-radius: 15px;
  font-weight: bold;
}

.dernier-td #update {
  background-color: #15d1df;
}

.dernier-td #update a {
  color: white;
}

.dernier-td #delete {
  background-color: #d31919;
}

.dernier-td #delete a {
  color: white;
}

#submit {
  width: 143px;
  height: 45px;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 20px;
  border: 2px solid #15d1df;
  background-color: rgba(21, 209, 223, 0.26);
  color: #15d1df;
}

td {
  height: 50px;
  text-align: center;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.hori-lign {
  height: 1px;
  width: 100%;
  background-color: white;
}

/* FOOTER */

footer {
}

.bloc-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trait-foot {
  height: 1px;
  width: 85%;
  margin-left: 15%;
  background-color: white;
}

.copyright p {
  color: white;
}

@media only screen and (min-width: 1400px) {
}

/* Media query pour les écrans de taille moyenne */
@media only screen and (max-width: 1024px) {
  /*SIDEBAR*/
  .logo {
    font-size: 12px;
  }

  .btn-bloc {
    height: 20%;
  }

  .btn-content {
    font-size: 12px;
    margin-left: 3%;
  }

  .btn-content div img {
    height: 18px;
    width: 18px;
  }

  .rec-indic {
    width: 5px;
  }

  .dashboard {
    height: 15%;
    width: 97%;
  }

  .dash-content {
    margin-right: 20%;
  }

  /* ADD CLIENT SIDEBAR */
  .add-client {
    height: 15%;
    width: 90%;
  }

  .add-content {
    margin-left: 7%;
  }

  /* LISTE CLIENT SIDEBAR */
  .liste-client {
    height: 15%;
    width: 100%;
  }

  .liste-content {
    margin-left: 6%;
  }

  /*  DEPENSES SIDEBAR */
  .depenses-client {
    height: 15%;
    width: 100%;
  }

  .depenses-content {
    margin-left: 5%;
  }

  /*  PROFIL SIDEBAR */
  .profil-client {
    height: 15%;
    width: 100%;
  }

  .profil-content {
    margin-left: 5%;
  }

  /* DECONNEXION SIDEBAR */
  .deco-side {
    height: 15%;
    width: 100%;
    font-size: 12px;
  }

  .deco-content {
    margin-left: 5%;
  }

  .deco-side img {
    height: 18px;
    width: 18px;
  }

  /*HEADER*/

  .user img {
    width: 39px;
    height: 39px;
  }

  .indic-page {
    /* margin: auto; */
    width: 165px;
    height: 40px;
  }

  .identif {
    font-size: 14px;
  }

  /* CONTAINER 2 */

  .nbr-depense-totale {
    width: 180px;
    height: 190px;
    border-radius: 25px;
  }

  .nbr-depense-totale p {
    font-size: 15px;
  }

  .nbr-depense-totale span {
    font-size: 34px;
  }

  .nbr-depense-atteintes-bloc {
    width: 180px;
    height: 190px;
    border-radius: 25px;
  }

  .nbr-depense-atteinte-content {
  }

  .nbr-depense-atteintes-bloc p {
    font-size: 15px;
    text-align: center;
    width: 70%;
  }

  .nbr-depense-atteintes-bloc span {
    font-size: 34px;
  }

  .nbr-couvert-bloc {
    width: 180px;
    height: 190px;
    border-radius: 25px;
  }

  .nbr-couvert-bloc p {
    font-size: 15px;
  }

  .nbr-couvert-bloc span {
    font-size: 34px;
  }

  /* ADD DEPENSE */
  .table {
    width: 100%;
  }
}

/* Media query pour les écrans de petite taille (par exemple, mobile) */
@media only screen and (max-width: 768px) {
  /*SIDEBAR*/
  .logo {
    font-size: 6px;
  }

  .btn-bloc {
    height: 40%;
  }

  .btn-content {
    margin-left: 10%;
  }

  .btn-content div img {
    height: 18px;
    width: 18px;
  }

  .rec-indic {
    width: 5px;
  }

  .dashboard {
    width: 90%;
  }

  .dash-content p {
    display: none;
  }

  /* ADD CLIENT SIDEBAR */
  .add-client {
    width: 90%;
  }

  .add-client p {
    display: none;
  }
  .add-content {
    margin-left: 35%;
  }

  /* LISTE CLIENT SIDEBAR */
  .liste-client {
    width: 90%;
  }

  .liste-content p {
    display: none;
  }

  .liste-content {
    margin-left: 32%;
  }

  /*  DEPENSES SIDEBAR */
  .depenses-client {
    width: 90%;
  }

  .depenses-content p {
    display: none;
  }

  .depenses-content {
    margin-left: 60%;
  }

  /*  PROFIL SIDEBAR */
  .profil-client {
    width: 90%;
  }

  .profil-content p {
    display: none;
  }
  .profil-content {
    margin-left: 50%;
  }

  /* DECONNEXION SIDEBAR */
  .deco-side {
    height: 15%;
    width: 100%;
    font-size: 12px;
  }

  .deco-content p {
    display: none;
  }
  .deco-content {
    margin-left: 30%;
  }

  /*HEADER*/

  .user img {
    width: 39px;
    height: 39px;
  }

  .indic-page {
    /* margin: auto; */
    width: 105px;
    height: 40px;
  }

  .indic-page h1 {
    font-size: 14px;
  }

  .identif {
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  /* CONTAINER 2 */

  .container2 {
    margin-top: 0;
  }

  .bloc-compteur {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
  }

  .nbr-depense-totale,
  .nbr-depense-atteintes-bloc,
  .nbr-couvert-bloc {
    margin-top: 5%;
    height: 170px;
  }

  /* ADD DEPENSE */
  .dernier-td {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .dernier-td button {
    width: 50px;
    height: 22px;
    border-radius: 5px;
  }

  .dernier-td button a {
    font-size: 5px;
  }

  #delete a {
    font-size: 5px;
  }
  /* FOOTER */

  footer {
    margin-top: 5%;
  }

  .bloc-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .trait-foot {
    height: 1px;
    width: 85%;
    margin-left: 15%;
    background-color: white;
  }

  .copyright p {
    color: white;
    font-size: 10px;
    width: 100%;
    margin-left: 5%;
  }
}
